-- MySQL dump 10.13  Distrib 8.0.35, for Win64 (x86_64)
--
-- Host: localhost    Database: fahamni
-- ------------------------------------------------------
-- Server version	8.0.35

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `reclamation_salle`
--

DROP TABLE IF EXISTS `reclamation_salle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reclamation_salle` (
  `id` int NOT NULL AUTO_INCREMENT,
  `idSalle` int NOT NULL,
  `titre` varchar(255) NOT NULL,
  `description` text NOT NULL,
  `priorite` varchar(50) NOT NULL,
  `statut` varchar(50) NOT NULL,
  `categorie` varchar(100) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL,
  `traite_par` varchar(150) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_reclamation_salle` (`idSalle`),
  CONSTRAINT `fk_reclamation_salle` FOREIGN KEY (`idSalle`) REFERENCES `salle` (`idSalle`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reclamation_salle`
--

LOCK TABLES `reclamation_salle` WRITE;
/*!40000 ALTER TABLE `reclamation_salle` DISABLE KEYS */;
/*!40000 ALTER TABLE `reclamation_salle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_salle`
--

DROP TABLE IF EXISTS `maintenance_salle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `maintenance_salle` (
  `id` int NOT NULL AUTO_INCREMENT,
  `idSalle` int NOT NULL,
  `titre` varchar(255) NOT NULL,
  `description` text,
  `priorite` varchar(50) NOT NULL,
  `statut` varchar(50) NOT NULL,
  `dateDemande` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `datePlanifiee` datetime DEFAULT NULL,
  `dateResolution` datetime DEFAULT NULL,
  `assigneeA` varchar(150) DEFAULT NULL,
  `coutEstime` decimal(10,2) DEFAULT NULL,
  `coutReel` decimal(10,2) DEFAULT NULL,
  `notes` text,
  PRIMARY KEY (`id`),
  KEY `fk_maintenance_salle` (`idSalle`),
  CONSTRAINT `fk_maintenance_salle` FOREIGN KEY (`idSalle`) REFERENCES `salle` (`idSalle`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_salle`
--

LOCK TABLES `maintenance_salle` WRITE;
/*!40000 ALTER TABLE `maintenance_salle` DISABLE KEYS */;
/*!40000 ALTER TABLE `maintenance_salle` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-13 10:48:35
